@model DbEntity.t_user
@{
    ViewBag.Title = "新增用户";
}

<div class="pageheader">
    <h1>用户管理</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">您在这里:</span>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>系统管理</li>
            <li>用户管理</li>
            <li class="active">修改用户</li>
        </ol>
    </div>
</div>


<section id="main-content" class="animated fadeInUp">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">用户修改</h3>
                    <div class="actions pull-right">
                        <i class="fa fa-expand"></i>
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal form-border" id="form" action="./AddPost" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" value="@Model.UserName" name="UserName" id="UserName" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" value="@Model.Pwd" name="Pwd" id="Pwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="Remark" id="Remark" placeholder="">@Model.Remark</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">启用</label>
                            <div class="col-sm-6">
                                <input type="checkbox" class="ace ace-switch ace-switch-6" value="@Model.IsUsing" name="IsUsing">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Load these page level functions-->
@section Scripts {
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/Areas/System/Scripts/user.js")

    <script>
    $(document).ready(function () {
       formValidation();
    });
    </script>
}
