@model IEnumerable<DbEntity.MenuData>

<!--sidebar left start-->
<aside class="sidebar sidebar-left">
    <div class="sidebar-profile">
        <div class="avatar">
            <img class="img-circle profile-image" src="~/Images/profile.jpg" alt="profile">
            <i class="on border-dark animated bounceIn"></i>
        </div>
        <div class="profile-body dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>Mike Adams<span class="caret"></span></h4></a>
            <small class="title">Front-end Developer</small>=
            <ul class="dropdown-menu animated fadeInRight" role="menu">
                <li class="profile-progress">
                    <h5>
                        <span>80%</span>
                        <small>Profile complete</small>
                    </h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-primary" style="width: 80%">
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icon">
                            <i class="fa fa-user"></i>
                        </span>My Account
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icon">
                            <i class="fa fa-envelope"></i>
                        </span>Messages
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icon">
                            <i class="fa fa-cog"></i>
                        </span>Settings
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icon">
                            <i class="fa fa-sign-out"></i>
                        </span>Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <h5 class="sidebar-header">Navigation</h5>
        <ul class="nav nav-pills nav-stacked">
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="fa fa-fw fa-tachometer"></i> Dashboard
                </a>
            </li>
            @foreach (var item in Model) {
            <li class="nav-dropdown @Html.IsSelected(controller: item.ControllerName)">
                <a href="#">
                    <i class="fa fa-fw fa-cogs"></i> @Html.DisplayFor(m=>item.MenuGrpName)
                </a>
                <ul class="nav-sub">
                    @foreach (var subitem in item.MenuItems) {
                    <li class="@Html.IsSelected(action: subitem.ActionName)">
                        <a href="@Url.Action(subitem.ActionName,subitem.ControllerName)">
                            @Html.DisplayFor(m=>subitem.MenuName)
                        </a>
                    </li>
                    }
                </ul>
            </li>
            }
        </ul>
    </nav>
    <h5 class="sidebar-header">Account Settings</h5>
    <div class="setting-list">
        <div class="row">
            <div class="col-xs-8">
                <label for="check1" class="control-label">Share your status</label>
            </div>
            <div class="col-xs-4">
                <input type="checkbox" class="js-switch" checked id="check1" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <label for="check2" class="control-label">Push Notifications</label>
            </div>
            <div class="col-xs-4">
                <input type="checkbox" class="js-switch" id="check2" />
            </div>
        </div>
    </div>
</aside>
<!--sidebar left end-->